<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Arte Patacho</title>
</head>
<body>
    {{#if session.userId}}
        <header>
            <h1>ARTE PATACHO</h1>
            <nav>
                <ul>
                    <li><a href="/">INÍCIO</a></li>
                    <li><a href="/sobre">SOBRE</a></li>
                    <li><a href="/roupas">ROUPAS</a></li>
                    <li><a href="/logout">SAIR</a></li>
                    <li><a href="/carrinho"><img src="/assets/svg/carrinho.svg" alt=""></a></li>
                </ul>
            </nav>  
        </header>
    {{else}}
        <header>
            <h1>ARTE PATACHO</h1>
            <nav>
                <ul>
                    <li><a href="/">INÍCIO</a></li>
                    <li><a href="/sobre">SOBRE</a></li>
                    <li><a href="/roupas">ROUPAS</a></li>
                    <li><a href="/register">CADASTRO</a></li>
                    <li><a href="/login">ENTRAR</a></li>
                    <li><a href="/carrinho"><img src="/assets/svg/carrinho.svg" alt=""></a></li>
                </ul>
            </nav>  
        </header>
    {{/if}}

    {{#if messages.message}}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{messages.message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>    
    {{/if}}

    <section id="container">
        {{{ body }}}
    </section>

    <footer>
        <div class="icons-container">
            <img src="/assets/svg/facebook.svg" alt="">
            <img src="/assets/svg/instagram.svg" alt="">
            <img src="/assets/svg/whatsapp.svg" alt="">
        </div>

        <h1>ARTE PATACHO</h1>

        <p>Feira de Artesanato - Rendeiras, Rua Alípio Barbosa da Silva, 1865 - Pontal da Barra, Maceió - AL</p>
    </footer>


    <script src="/js/bootstrap.min.js"></script>
</body>
</html>