<section class="explicacao-sobre">
    <div>
        <p>O melhor do bordado de filé para você</p>
        <a href="/sobre">COMPRE AGORA</a>
    </div>

    <img src="/assets/img/image-sobre1.png" alt="">
</section>

<section class="sobre">
    <h1>SOBRE</h1>
    <div class="separador">
        <img src="/assets/img/image-sobre2.png" alt="">

        <div>
            <p>O nome filé vem do francês “filet”,que quer dizer rede. De fato, é um bordado sobre uma rede de fios. Ele é criado com temas florais em cima de uma trama que lembra a rede de pesca dos maridos das artesãs que vivem à beira das Lagoas Manguaba e Mundaú, no litoral alagoano. É lá que as mulheres tecem a própria sobrevivência com fios coloridos e muita paciência.</p>
            <a href="/sobre">VER MAIS</a>
        </div>
    </div>
</section>

<section class="roupas">
    <h1>ROUPAS</h1>
    <div class="roupas-imgs">
        <img src="/assets/img/image1.png" alt="">
        <img src="/assets/img/image2.png" alt="">
        <img src="/assets/img/image3.png" alt="">
        <img src="/assets/img/image4.png" alt="">
    </div>
</section>