<section class="register">
    <h1>CADASTRE-SE</h1>
    <form action="/registerPost" method="post">
        <div class="form_control">
            <label for="name">Nome:</label>
            <input type="text" name="name">
        </div>
        <div class="form_control">
            <label for="email">Email:</label>
            <input type="email" name="email">
        </div>
        <div class="form_control">
            <label for="password">Senha:</label>
            <input type="password" name="password">
        </div>
        <button type="submit">CADASTRAR</button>
        <p>Já possui conta? <a href="/login">Entrar</a></p>
    </form>
</section>
