<section class="container-roupas">
    <img src="/assets/img/roupa1.png" alt="">
    <img src="/assets/img/roupa2.png" alt="">
    <img src="/assets/img/roupa3.png" alt="">
    <img src="/assets/img/roupa4.png" alt="">
    <img src="/assets/img/roupa5.png" alt="">
    <img src="/assets/img/roupa6.png" alt="">
    <img src="/assets/img/roupa7.png" alt="">
    <img src="/assets/img/roupa8.png" alt="">
</section>