<section class="container-sobre">
    <section class="imgs-sobre">
        <img src="/assets/img/image-sobre3.png" alt="">
        <img src="/assets/img/image-sobre4.png" alt="">
    </section>
    <section class="textos-sobre">
        <p>
            O nome filé vem do francês “filet”,que quer dizer rede. De fato, é um bordado sobre uma rede de fios. Ele é criado com temas florais em cima de uma trama que lembra a rede de pesca dos maridos das artesãs que vivem à beira das Lagoas Manguaba e Mundaú, no litoral alagoano. É lá que as mulheres tecem a própria sobrevivência com fios coloridos e muita paciência.
        </p>
        <p>
            As produções mais comuns são roupas, toalhas de mesa, xales e bolsas. Quanto mais fechados são os pontos, mas delicado é o trabalho. A marca do filé alagoano são as cores vibrantes que refletem a tropicalidade presente nas casas, nos barcos e nos figurinos das manifestações folclóricas regionais, como o maracatu, o coco e o guerreiro.
            O bordado de filé é tão importante no estado que é registrado como Patrimônio Cultural Imaterial de Alagoas, ou seja, é uma tradição carregada de ancestralidade já que a mulher rendeira faz parte do imaginário popular brasileiro e é, desde muito, transmissora de um conhecimento que permeia a história de muitas famílias desde o período colonial.
        </p>
    </section>
</section>